<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  </configSections>
  <appSettings>
    <add key="RunningPlatform" value="Debug"/>
    <add key="Debug.Wrapper.WebApi.Host" value="test.apidebug.xomni.com"/>
    <add key="Debug.TestTenantDbConnectionString" value="Data Source=.\SQL12;Integrated Security=True;Initial Catalog=XOMNI.Tenant.Test.Debug"/>
    <add key="Debug.Wrapper.WebApi.ApiVersion" value="v2_1"/>
    <add key="Debug.Wrapper.WebApi.UseHttps" value="false"/>
    <!--<add key="Debug.Wrapper.WebApi.ApiPassword" value="DebugApiPrivateTestPass" />
    <add key="Debug.Wrapper.WebApi.ApiUsername" value="DebugApiPrivateTestUser" />-->
    <add key="Debug.Wrapper.WebApi.ApiPassword" value="DebugApiManagementTestPass"/>
    <add key="Debug.Wrapper.WebApi.ApiUsername" value="DebugApiManagementTestUser"/>
    <add key="Debug.CMS.WebUI.DefaultPageSize" value="10"/>
    <add key="Debug.CloudStorageAccount" value="UseDevelopmentStorage=true"/>
    <add key="Staging.Wrapper.WebApi.Host" value="test.apistaging.xomni.com"/>
    <add key="Staging.Wrapper.WebApi.ApiVersion" value="v2_1"/>
    <add key="Staging.Wrapper.WebApi.UseHttps" value="false"/>
    <!--<add key="Staging.Wrapper.WebApi.ApiPassword" value="StagingApiPrivateTestPass"/>
    <add key="Staging.Wrapper.WebApi.ApiUsername" value="StagingApiPrivateTestUser"/>-->
    <add key="Staging.CMS.WebUI.DefaultPageSize" value="10"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
